@import url('https://fonts.cdnfonts.com/css/dinpro');

.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.scrollContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.pinkScrollImg {
    width: 20px;
}

.pinkScroll {
    top: 25%;
    position: absolute;
    z-index: 1002;
}

.rectangle {
    position: relative;
    z-index: 1001;
    margin-top: 10px;
    margin-left: 2px;
}

.rectangleImg {
    width: 15px;
    height: 410px;
}

.textScroll {
    font-family: 'DINPro', sans-serif;
    font-size: 23px;
    font-weight: 300;
    overflow-y: hidden;
    width: 650px;
    height: 350px;
    box-sizing: content-box;
    margin-left: 60px;
    z-index: 1001;
}



