body {
  /*background: url("./assets/bg.png");
  background-size: cover; !* Растягивает изображение на весь экран *!
  background-attachment: fixed; *//* Фиксирует изображение на месте при прокрутке */
  margin: 0;
}
#root{
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
}